<!DOCTYPE html>
    <html lang="en">
      <head>
        <link rel="stylesheet" type="text/css" href="/assets/static/view-presentation.a3ce833b.css">
        <link rel="stylesheet" type="text/css" href="/assets/static/default.page.server.49cecab0.css">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="App using Vite + vike" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/obsidian.min.css">
        <title>Craigory Coppola - View Presentation</title>
      </head>
      <body>
        <div id="react-root"><div>Hello?</div></div>
        <script id="vike_pageContext" type="application/json">{"pageProps":"!undefined","urlPathname":"/presentations/view/nx-conf-2023-inference","routeParams":{"presentation":"nx-conf-2023-inference"},"urlParsed":{"origin":null,"pathname":"/presentations/view/nx-conf-2023-inference","pathnameOriginal":"/presentations/view/nx-conf-2023-inference","search":{},"searchAll":{},"searchOriginal":null},"abortReason":"!undefined","_urlRewrite":null,"_urlRedirect":"!undefined","abortStatusCode":"!undefined","_abortCall":"!undefined","_pageContextInitIsPassedToClient":"!undefined","_pageId":"/pages/presentations/view","data":"!undefined"}</script>
        <script src="/assets/entries/entry-server-routing.0615f3b7.js" type="module" async></script>
        <link rel="modulepreload" href="/assets/entries/pages_presentations_view.page.client.b4d09ad9.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/assets/chunks/chunk-529f355d.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/assets/chunks/chunk-9af66d49.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/assets/chunks/chunk-a9f9b8c5.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/assets/entries/pages_presentations_view.page.72b9dfec.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/assets/chunks/chunk-101896b7.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/assets/chunks/chunk-980425a9.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/assets/entries/renderer_default.page.client.a2060ab1.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/assets/entries/renderer_default.page.server.extractAssets.fa75b1ae.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/assets/chunks/chunk-3f4a0437.js" as="script" type="text/javascript">
        <link rel="modulepreload" href="/assets/chunks/chunk-d1ef7cd1.js" as="script" type="text/javascript">
      </body>
    </html>